td.table-cell.text {
    padding: 0px;
}

td.table-cell.number .option-column{
    width: 60px;
} 
td.table-cell.checkbox {
    padding: 0px;
}

input.number {
    width: 60px;
}

/* Стили для WebKit браузеров (Chrome, Safari) */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    opacity: 1;
    /* position: absolute; */
    right: 0px;
    height: 100%;
    width: 15px;
    /* cursor: pointer; */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    -webkit-appearance: inner-spin-button !important;
    height: 40px; /* Увеличиваем область клика */
}

input[type=number] {
    -moz-appearance: textfield; /* Для Firefox */
    appearance: textfield; /* Стандартное свойство */
}

td.table-cell.text input {
    width: 150px;
}

td input {
    height: 50px;
    /* width: 150px; */
    font-size: 24px;
    text-align: center;
    border-radius: 5px; /* Скругляем углы */
    border: 1px solid #ccc; /* Легкая граница */
    transition: border-color 0.3s; /* Плавный переход границы */
}

input:focus {
    border-color: #007bff; 
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0px;
}

input.checkbox {
    width: 10px;
    height: 10px;
}